body{
background-color:AliceBlue
}
.d1 {
    width:760px;
    background:GhostWhite
 }

.d2 {
     width:760px;
   background:PowderBlue
}
.d3 {
     width:760px;
   background:WhiteSmoke
}


.container {
  display: flex;
  flex-direction:row;
  justify-content:center;
  color: LightBlue;
}
input[type="text"] {
   border: 1px solid #cccccc; //цвет рамки
   border-radius: 3px; //закругление углов (общее)
   -webkit-border-radius: 3px; //закругление углов (Google Chrome)
   -moz-border-radius: 3px; //закругление углов (FireFox)
   -khtml-border-radius: 3px; //закругление углов (Safari)
   background: #ffffff !important; // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым
   outline: none; // удаляет обводку в браузерах хром(желтая) и сафари(синяя)
   height: 24px; // высота на свое усмотрение
   width: 120px; // ширина на свое усмотрение
   color: #cccccc; //цвет шрифта в обычном состоянии
   font-size: 11px; // Размер шрифта
   font-family: Tahoma; // Стиль шрифта
}

#upleft {
   width:160px;
   height: 10000px;
   background:GhostWhite; float:left;
}

#upright {
   width:200px;
   height:200px;
   background:blue;
   float:left
}

